<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.fangmingdong.androiddemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/touch_handler_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:label">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".coordinatorlayout.WangYiYun.YouDaoMineActivity">
        </activity>
        <activity android:name=".coordinatorlayout.CoordinatorLayoutActivity">
        </activity>
        <activity android:name=".coordinatorlayout.temp.TempActivity">
        </activity>
        <activity android:name=".monkeyclick.MonkeyClickActivity">
        </activity>

        <service
            android:name=".monkeyclick.ClickService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/click_config"/>
        </service>

        <activity android:name=".constainslayoutAnimate.ConstraintLayoutAnimateActivity">
        </activity>
        <activity android:name=".weixinxiaochengxu.WeiXinActivity">
        </activity>
        <activity android:name=".textDraw.TextDrawActivity">
        </activity>
        <activity android:name=".customViewAniamte.CustomViewAnimateActivity">
        </activity>
        <activity android:name=".scrollView.ScrollViewActivity">
        </activity>
        <activity android:name=".recyclerViewSideScroll.RecyclerViewSideScrollActivity">
        </activity>
        <activity android:name=".jobschedule.JobScheduleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".jobschedule.net.WifiJobService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true">
        </service>
        <service
            android:name=".jobschedule.net.GPRSJobService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true">
        </service>
        <service
            android:name=".jobschedule.net.NoNetJobService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true">
        </service>
        <service
            android:name=".jobschedule.time.DelayJobService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true">
        </service>

    </application>

</manifest>